[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg.git
[submodule "theora"]
	path = theora
	url = https://github.com/xiph/theora.git
[submodule "vorbis"]
	path = vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "GameSpy"]
	path = GameSpy
	url = https://github.com/OpenXRay/GameSpy.git
